.col-3{
  width: 25%;
  float: left;
  position:sticky;
  top: 0;
  z-index:2;
}
.col-9{
  width: 75%;
  float: left;
}
.row::after{
  display: table;
  content: "";
  clear: both;
}
*{
  box-sizing: border-box;
}